<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID"
	version="2.5">
	<display-name>gfatm-webapp</display-name>

	<!-- Servlets -->
	<servlet>
		<servlet-name>aicWebService</servlet-name>
		<servlet-class>com.ihsinformatics.gfatmweb.server.AicWebService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aicWebService</servlet-name>
		<url-pattern>/aicwebservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fastWebService</servlet-name>
		<servlet-class>com.ihsinformatics.gfatmweb.server.FastWebService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fastWebService</servlet-name>
		<url-pattern>/fastwebservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gfatmTasksWebService</servlet-name>
		<servlet-class>com.ihsinformatics.gfatmweb.server.GfatmTasksWebService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gfatmTasksWebService</servlet-name>
		<url-pattern>/gfatmTasksWebService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>